extends ../../base/base.pug

block content
    a(href="/funding") &larr; 뒤로가기
    form(method="POST")#project-upload__form
        label(for="name") 펀딩 생성
        input(name="name", placeholder="펀딩 이름", type="text")
        input(name="owner", placeholder="펀딩 소유주", type="text")

        input(name="create", value="펀딩 생성", type="submit")