extends ../../base/base.pug

block content
    a(href="/project") &larr; 뒤로가기
    form(method="POST")#project-upload__form
        label(for="name") #{loggedInUser.username} 님의 프로젝트 생성
        input(name="name", placeholder="프로젝트 이름", type="text", required)

        input(name="create", value="프로젝트 생성", type="submit")