extends base/base.pug
include mixins/project-model.pug
include mixins/lecture-model.pug
include mixins/funding-model.pug

block content
    div.feed__project-grid
        h4 프로젝트 리스트
        div.feed__project-box
            each project in projectConstructors
                +project(project)
            else
                span Any Project Not Found(404)
    hr
    div.feed__lecture-grid
        h4 강좌 리스트
        div.feed__lecture-box
            each lecture in lectureConstructors
                +lecture(lecture)
            else
                span Any Lecture Not Found(404)
    hr
    div.feed__funding-grid
        h4 후원 리스트
        div.feed__funding-box
            each funding in fundingConstructors
                +funding(funding)
            else
                span Any Funding Not Found(404)