extends ../../base/base.pug

block content
    form(method="POST")#account-create__form
        label(for="username")#account-create__name 관리자계정
        input(name="authroizedEnv" placeholder="접속코드", type="text", required)
        input(name="username", placeholder="관리자이름", type="text", required, value=username, minlength=6)
        input(name="password", placeholder="비밀번호", type="password", required, minlength=10)
        input(name="password2", placeholder="비밀번호 확인", type="password", required, minlength=10)
        input(name="create", value="관리자 로그인", type="submit")
        span 관리자 계정은 별도 승인 후 사용할 수 있습니다. 