nav#nav
    a(href="/")#nav_logo 로고
    a(href="/project")#nav_feed 프로젝트
    a(href="/lecture")#nav_lecture 강좌
    a(href="/funding")#nav_funding 후원
    input(type="text" placeholder="SEARCH")#nav_search
    input(type="submit" value="SEARCH")
    a(href="/account/")#nav_username 이름
    a(href="/account/")#nav_settings 수정
    a(href="/account/login")#nav_login 로그인
    a(href="/account/join")#nav_join 회원가입